# Dependencies
node_modules/

# Environment variables
.env
backend/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/
coverage/

# VSCode
.vscode/

# Railway/Vercel
.vercel/
.railway/